<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{la grande braderie}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div th:insert="fragments/contenu :: contenu"></div>

<div th:insert="fragments/footer :: footer"></div>

</body>
</html>