<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{identification}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <button type="button" th:text="#{switch-fr}" onclick="window.location.href='http://localhost:8080/?localeData=fr'"></button>
    <button type="button" th:text="#{switch-en}" onclick="window.location.href='http://localhost:8080/?localeData=en'"></button>
<div class="container">
      <form class="form-signin" method="POST" th:action="@{/login}">
        <h2 class="form-heading" th:text="#{identification}"></h2>

        <div class="form-group">

            <input name="login" type="text" class="form-control" placeholder="Login"/>

            <input name="pass" type="password" class="form-control" placeholder="Password"/>

            <button th:text="#{se connecter}" class="btn btn-lg btn-primary btn-block" type="submit"></button>
        </div>
      </form>
    </div>
<!--  
	<a href="/braderie">go braderie</a>
-->	
</body>
</html>