<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="contenu" class="container">
	<div class="row">
		<div class="col-sm">
			<h1 th:text="#{liste articles}" class="titreTableau"></h1>
			<div>
				<table border="1">
					<tr>
						<th th:text="#{identifiant}"></th>
						<th th:text="#{description}"></th>
						<th th:text="#{marque}"></th>
						<th th:text="#{prix unitaire}"></th>
						<th th:text="#{quantite}"></th>
					</tr>
						<tr th:each="article : ${articles}">
						<td th:utext="${article.idarticle}"></td>
						<td th:utext="${article.description}">...</td>
						<td th:utext="${article.marque}">...</td>
						<td th:utext="${article.prixunitaire}">...</td>

						<form th:action="@{/add(idarticle=${article.idarticle})}" method="post" th:object="${article}">
							<td><input type="number" id="quantite" name="quantite" value="1" min="1" max="99" size="2"></td>
							<td><button th:text="#{ajouter}" id="boutonAjouter" type="submit" value="Submit" class="btn btn-primary"></button></td>
						</form>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-sm">
			<h1 th:text="#{panier}" class="titreTableau"></h1>
			<div>
				<table border="1" class="panier">
					<tr>
						<th th:text="#{marque}"></th>
						<th th:text="#{description}"></th>
						<th th:text="#{prix unitaire}"></th>
						<th th:text="#{quantite}"></th>
						<th th:text="#{modifier}"></th>
						<th th:text="#{total par article}"></th>
					</tr>
					<tr th:each="panier : ${paniers}">
						<td th:utext="${panier.article.marque}">...</td>
						<td th:utext="${panier.article.description}">...</td>
						<td th:utext="${panier.article.prixunitaire}">...</td>
						<td th:utext="${panier.quantite}"></td>	
						
						<form th:action="@{/change(idpanier=${panier.idpanier})}" method="post" th:object="${panier}">
							<td><input type="number" id="quantite" name="quantite" value="1" min="1" max="99" size="2">
							<button th:text="#{bouton modifier}" id="boutonAjouter" type="submit" value="Submit" class="btn btn-primary"></button></td>
						</form>
						
						<td
							th:utext="${#numbers.formatDecimal(panier.quantite*panier.article.prixunitaire, 1, 2)}">...</td>
						<td>
							<form th:action="@{/delete(idpanier=${panier.idpanier})}"
								method="post" th:object="${panier}">
								<!--  <input type="hidden" th:field="${panier.idpanier}"/>-->
								<button id="boutonSupprimer" type="submit" value="Submit"
									class="btn btn-danger">X</button>
							</form>
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td th:text="#{total panier}"></td>
						<td th:utext="${prixTotalPanier}">...</td>
						<td>
							<form th:action="@{/deletePanier}" method="post"
								th:object="${panier}">
								<button th:text="#{vider}" id="boutonSupprimerPanier"
									type="submit" value="Submit" class="btn btn-warning"></button>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</html>