<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
	<button type="button" th:text="#{switch-fr}"
		onclick="window.location='?localeData=fr'"></button>
	<button type="button" th:text="#{switch-en}"
		onclick="window.location='?localeData=en'"></button>
	<div>
		<span th:text="#{connecte comme}"></span> <span
			th:utext="${user.login}"></span>
	</div>
	<div>
		<span th:text="#{nombre connexion}"></span><span
			th:utext="${user.nbconnexion}"></span>
	</div>
	<div>
		<a th:text="#{se deconnecter}" href="/index"></a>
	</div>
	<div class="d-flex justify-content-center">
		<h1 th:text="#{la grande braderie}"></h1>
	</div>
</header>
</html>